#idVendor   0x0471 Philips (or NXP)
#idProduct  0x1200
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0471", ATTRS{idProduct}=="1200", GROUP="debian", OWNER="debian", MODE="0666"
